#ConfigurationsMenuContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(205, 242, 255);

    height: auto;
    width: auto;

    top: 100%;
    left: 0%;

    padding: 3%;

    border: 1px solid black;
}

#ConfigurationsMenuContainer section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: auto;
    min-width: 250px;
    
    padding: 3%;
}

#ConfigurationsMenuContainer section span{
    width: 45%;
    font-size: 1.3em;

    text-align: center;
}

#ConfigurationsMenuContainer section #inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 55%;

    border: 3px solid green;
    border-radius: 4px;

    background-color: white;
}

#ConfigurationsMenuContainer section input{
    width: 85%;
    font-size: 1.3em;

    text-align: center;

    border-right: 1px solid black;
}

#ConfigurationsMenuContainer section #changeNickButton{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 100%;

    background-color: #ffffff;

}

#ConfigurationsMenuContainer section #changeNickButton svg{
    height: 3vh;
    min-height: 14px;
    width: 3vh;
    min-width: 14px;
}

#manageEventsButton, #deleteAccountButton{
    font-size: 1.3em;

    border: 2px solid black;
    border-radius: 4px;

    background-color: #ececec;
}

#ConfigurationsMenuContainer section #manageEventsButton:hover{
    background-color: rgb(79, 175, 204);
}

#ConfigurationsMenuContainer section #deleteAccountButton:hover{
    background-color: red;
}
