#changeYearContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 34%;
    height: 100%;

    position: relative;
}

#changeYearContainer span{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: black;
}

#changeYearButton{
    background-color: rgb(125, 220, 255);
}

#changeYearButton svg{
    height: 3vh;
    min-height: 15px;
    width: 3vh;
    min-width: 15px;
}
