#configurationsButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 33%;
    height: 100%;
    
    position: relative;
}

#configurationsButton{
    background-color: rgb(125, 220, 255);
}

#configurationsButton svg{
    height: 4.5vh;
    min-height: 22px;
    width: 4.5vh;
    min-width: 22px;
}
