:root {
  --color-background: #FFF;
  --color-primary-light: #DEF3F9;
  --color-primary: #76BDD3;
  --color-primary-dark: #427C7F;
  --color-login-background: #F0F0F7;
  --color-button-border: #76BDD3;
  --color-border-day-another-month: #00000050;
  --color-border-day-actual-monthh: #000000;
  --color-day-container-border: #DEF3F9;
  --color-event-border: #427C7F;
  --color-event-not-completed-bg: #76BDD3;
  --color-today-space-day: #76BDD3;
  --color-birthday-space-day: #427C7F;
  --color-float-menu-border: #427C7F;
  --color-selected-option: #DEF3F9;
  --color-alert-border: #76BDD3;
  --color-cancell-button-border: #FF0000;
  --color-ok-button-border: #427C7F;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh
}

body{
  background: var(--color-background)
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media (max-width: 700px) {
  :root {
    /*font-size: 60%;*/
    font-size: 1%;
  }
}
