header{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    min-width: 500px;
    height: 7vh;
    min-height: 30px;

    margin: 0;

    background-color: rgb(125, 220, 255);
    /*rgb(79, 175, 204)*/
}

@media(max-width: 500px){
    header{
        min-width: 300px;
    }
}

#siteName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    

    width: 33%;
    height: 100%;

    padding-right: 1vw;
}

#siteName span{
    font-size: large;
    text-align: right;
    font-weight: bold;
    color: black;

    text-decoration: underline;
    font-weight: bold;
}
